.menu-container{
    width: 14%;
    padding: 16px;

    .link-logo{
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        border: none;

        .logo{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            overflow: hidden;
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        span{
            font-weight: 700;
            color: #040558;
            text-align: left;
        }
    
    }

    .sub-menu-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 16px;


        .link-container{
            display: flex;
            flex-direction: column;
            gap: 15px;

            .link{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 5px 6px;
                text-decoration: none;
                border-radius: 6px;

                &.active{
                    background-color: #040558;

                    .menu-icon{
                        color: white;
                    }

                    .link-label{
                        color: white;
                    }
                }

                .link-label{
                    font-size: 16px;
                    color: #6a7282;
                    display: none;
                }

                .menu-icon{
                    width: 20px;
                    height: 20px;
                    color: #6a7282;
                }
            }
        }
    
    }
}



@media screen and (min-width: 768px){
    .menu-container{
        width: 8%;
        .sub-menu-container{    
    
            .link-container{
    
                .link{
                    display: flex;
                    align-items: center;
        
                }
            }
        
        }
    }

}

@media screen and (min-width: 1024px){
    .menu-container{
        width: 16%;
        .sub-menu-container{    
    
            .link-container{
    
                .link{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
    
                    .link-label{
                        font-size: 16px;
                        color: #6A7282;
                        display: block;
                    }
    
                }
            }
        
        }
    }
}

@media screen and (min-width: 1280px){
    .menu-container{
        width: 14%;
        .sub-menu-container{    
    
            .link-container{
    
                .link{
                    // display: flex;
                    // align-items: center;
                    // justify-content: flex-start;
    
                    // .link-label{
                    //     font-size: 16px;
                    //     color: #6A7282;
                    //     display: block;
                    // }
    
                }
            }
        
        }
    }
}
