.user-card{
    border-radius: 16px;
    padding: 16px;
    min-width: 130px;
    flex: 1;

    &:nth-child(odd){
       background-color: #040558; 
       color: orange;
    }
    &:nth-child(even){
       background-color: orange; 
       color: #040558;
    }

    .date-icon{
        display: flex;justify-content: space-between;align-items: center;

        .date{
            font-size: 10px;
            padding: 4px 8px;
            border-radius: 10px;
            background-color: white;
        }

        .icon{
            width: 20px;height: 20px;
        }
    }

    h1{
        font-size: 24px;
        margin: 8px 0;
        font-weight: 600;
        line-height: 2rem;
    }
    h2{
        font-size: 14px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        opacity: 0.7;
    }
}