.table-search-container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    padding: 0 8px;
    border-radius: 20px;
    border: 2px solid #d1d5db;
    .icon{
        width: 20px;
        height: 20px;
        color: #d1d5db;
    }

    input{
        width: 200px;
        padding: 8px;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 12px;
    }
}

@media screen and (min-width: 768px){
    .table-search-container{
        width: auto;
    }
}