.accounting-container{
    min-height: 100vh;
    display: flex;

    .right{
        width: 86%;
        // overflow: scroll;
        display: flex;flex-flow: column;
        background-color: #F7F8FA;

        .sub-container{
            // width: 100%;
            padding: 16px;
            margin: 16px;
            margin-top: -5px;
            background-color: white;
            border-radius: 10px;
            flex: 1;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .commandes{
                // width: 100%;
                width: 75%;
                place-items: center;
                position: relative;
                background-color: white;

                .navigation-container,.navigation-container02,.navigation-container03{
                    overflow: hidden;
                    white-space: nowrap;
                    width: 70%;

                    .slide-track{
                        padding: 10px 0;
                        .slide-button{
                            height: 150px;
                            width: 200px;
                            margin: 0 20px;
                            background-color: #040558;
                            border: none;
                            outline: none;
                            border-radius: 10px;
                            cursor: pointer;
                            // box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.404);

                            .icon-title{
                                display: flex;
                                flex-flow: column;
                                align-items: center;
                                gap: 10px;

                                .icon{
                                    width: 30px;
                                    height: 30px;
                                    color: white;
                                }

                                span{
                                    color: white;
                                    font-size: 18px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                }
    
                .navigation-container{
                    border-radius: 50px 50px 0 0;
                    border-top: 20px solid #040558;
                    border-bottom: none;
                    padding-top: 30px;
                    position: relative;
                    z-index: 100;
                    background-color: white;
                    
                    .slide-track{
                        display: inline-block;
                        animation: slide-infini 15s infinite linear;
                    }
                }

                .navigation-container02{
                    margin: 10px auto;
                    border-radius: 0 0 50px 50px;
                    border-bottom: 20px solid #040558;
                    padding-bottom: 30px;
                    position: relative;

                    
                    .slide-track{
                        display: inline-block;
                        animation: slide-infini02 15s infinite linear;
                    }
                }

                .navigation-container03{
                    border-radius: 0 0 100px 100px;
                    .slide-track{
                        display: inline-block;
                        animation: slide-infini 15s infinite linear;
                    }
                }

                .navigation-container:hover .slide-track,
                .navigation-container02:hover .slide-track,
                .navigation-container03:hover .slide-track{
                    animation-play-state: paused;
                }
    
            }

            .slash-second{
                position: absolute;
                left: 50%;
                width: 20px;
                height: 100%;
                transform: translateX(-50%);
                // background-color: red;
                display: flex;
                gap: 5px;


                span{
                    background-color: #F7F8FA;
                    width: 10px;
                    height: 100%;
                    display: block;
                }

            }

            .slash-first{
                position: absolute;
                top: 50%;
                width: 100%;
                height: 100px;
                display: flex;
                flex-direction: column;
                gap: 45px;
                // left: 50%;
                transform: translateY(-50%);

                span{
                    background-color: #F7F8FA;
                    width: 100%;
                    height: 25px;
                    display: block;
                }
            }


        }
    }
}


@keyframes slide-infini {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes slide-infini02 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}


@media screen and (max-width: 500px){
    .accounting-container{
    
        .right{
            .sub-container{

                .commandes{

                    .navigation-container,.navigation-container02,.navigation-container03{
                        width: 100%;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 768px){
    .accounting-container{
    
        .right{
           
            .sub-container{

                .commandes{
                    width: 100%;
                }
            }
        }
    }
    
}
@media screen and (min-width: 768px){
    .accounting-container{
    
        .right{
            width: 92%;
        }
    }
    
}

@media screen and (min-width: 900px){
    .accounting-container{
    
        .right{
            width: 92%;
        }
    }
    
}

@media screen and (min-width: 1024px){
    .accounting-container{
    
        .right{
            width: 84%;
        }
    }
    
}

@media screen and (min-width: 1280px){
    .accounting-container{
    
        .right{
            width: 86%;
        }
    }
    
}