.big-calendar-container{

    .date-selector-container{
        text-align: center;
        margin-top: 15px;

        .selected-date{
            border-radius: 100%;
            padding: 10px 15px; 
            cursor: pointer;   
            transition: all 0.3s ease-in-out;
            background-color: #F7F8FA;

            &:hover{
                background-color: white;
            }
        }
    }

    .big-calendar-table{
        width: 100%;
        margin-top: 16px;
        border-collapse: collapse;

        tbody{

            .row-data{
                border: 1px solid #e5e7eb;
                background-color: #F7F8FA;
                
                &:nth-child(even){
                    background-color: white;
                }

                .time{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    // gap: 8px;
                    padding: 4px 10px;
                    border-right: 1px solid #e5e7eb;
                    height: 74px;


                    span{
                        font-size: 14px;
                    }

                    .icon{
                        width: 10px;
                        height: 10px;
                    }
                }

                .to-do{
                    text-align: left;
                    font-size: 14px;
                    padding: 4px 10px;
                }
            }
        }

    }
}