.list-announcements-container{
    min-height: 100vh;
    display: flex;

    .right{
        width: 86%;
        overflow: scroll;
        display: flex;flex-flow: column;
        background-color: #F7F8FA;

        .list-announcements{
            padding: 16px;
            margin: 16px;
            margin-top: -5px;
            background-color: white;
            border-radius: 10px;
            flex: 1;

            .sub-container{
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1{
                    font-size: 18px;
                    font-weight: 600;
                    display: none;
                }

                .up{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 16px;
                    width: 100%;

                    .actions{
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        // align-self: flex-end;

                        button{
                            width: 32px;
                            height: 32px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: orange;
                            border-radius: 50%;
                            outline: none;
                            border: 2px solid orange;
                            cursor: pointer;

                            .icon{
                                width: 16px;
                                height: 16px;
                                color: white;
                            }
                        }
                    }
                }
            }

            .table-data{
                display: none;
            }

            .table-data-second{
                display: none;
            }

            .row-data{
                border: 1px solid #e5e7eb;
                border-left: none;
                border-right: none;

                &:nth-child(even){
                    background-color: #f8fafc;
                }

                .icon-title-container{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 16px;

                    .icon-title{
                        display: flex;
                        flex-direction: column;
                        p{
                            font-size: 14px;
                            font-weight: 600;
                            position: relative;
    
                            // &::before{
                            //     content: "";
                            //     width: 50px;
                            //     height: 2px;
                            //     background-color: orange;
                            //     background: linear-gradient(to right,transparent,black,transparent);
                            //     position: absolute;
                            //     bottom: -2px;
                            //     left: 0;
                            // }
                        }

                        span{
                            font-size: 12px;
                            opacity: 0.7;
                        }
    
                    }

                }

                .date-time{
                    display: flex;
                    flex-direction: column;

                    h3{
                        font-size: 14px;
                        font-weight: 500;
                    }

                    p{
                        font-size: 12px;
                        color: black;
                        opacity: 0.7;
                    }
                }

                .inner-data{
                    display: none;
                }
            }

            .count-row{

                tbody{
    
                    tr{
                        &:nth-child(1){
                            border-top-color: transparent;
                        }
                    }
                }
            }


        }
    }

}

@media screen and (min-width: 768px){
    .list-announcements-container{
    
        .right{
            width: 92%;

            .list-announcements{
                
                .sub-container{
    
                    h1{
                        display: block;
                    }

                    .up{
                        width: auto;
                        // flex-direction: row;
                    }
                }

                // .table-data{
                //     display: table-cell;
                // }

                // .row-data{
    
                //     .inner-data{
                //         display: table-cell;
                //     }
    
                // }
    
    
            }
        }
    }
    
}

@media screen and (min-width: 900px){
    .list-announcements-container{
    
        .right{
            width: 92%;

            .list-announcements{
                
                .sub-container{
    
                    h1{
                        display: block;
                    }

                    .up{
                        width: auto;
                        flex-direction: row;
                    }
                }

                .table-data{
                    display: table-cell;
                }

                .row-data{
    
                    .inner-data{
                        display: table-cell;
                    }
    
                }
    
    
            }
        }
    }
    
}

@media screen and (min-width: 1024px){
    .list-announcements-container{
    
        .right{
            width: 84%;

            .list-announcements{

                .table-data-second{
                    display: table-cell;
                }

            }
        }
    }
    
}

@media screen and (min-width: 1280px){
    .list-announcements-container{
    
        .right{
            width: 86%;
        }
    }
    
}